:root {
--main-color: steelblue;
--padding: 10px;
}
nav {
    background-color: var(--main-color);
    padding: var(--padding);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
h1 {
    color: var(--main-color);
}
 main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--main-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
p {
    padding: var(--padding);
}
main {
    max-width: 840px;
}
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img {
    width: 200px;
    height: auto;
}
p { padding: 0;}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
header, .grid, footer {
    max-width: 840px;
}
.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
}
aside {
    grid-row: 1;
    width: 20rem;
}
